<header class="py-3">

    <div>
        <div><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div class="px-5 text-primary h4">{{casaChollo}}</div>
        <div>{{comprarAlquilar}}</div>
    </div>

    <div>
        <div class="px-2"><i class="fa fa-bell-o" aria-hidden="true"></i> {{misAlertas}}</div>
        <div class="px-2"><i class="fa fa-heart-o" aria-hidden="true"></i> {{favoritos}}</div>
        <button class="rounded py-1 px-3 ml-4 border-3 border-primary text-primary">{{publica}}</button>
        <button class="rounded py-1  btn-primary ml-3"><i class="fa fa-address-book" aria-hidden="true"></i> {{accede}}</button>
    </div>
    
</header>