<div class="card m-auto w-50 mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur alias, suscipit quo eos debitis aliquam et aperiam libero esse quod vel voluptate animi laudantium voluptatum quasi repudiandae molestiae quia magnam.
    Sed, libero aliquid praesentium iure veniam excepturi distinctio dicta, laboriosam reprehenderit est, ullam odit minus totam in. Earum quia explicabo doloremque assumenda? Quam quos, fugit illo earum reprehenderit veniam quibusdam!
    Sed veritatis fugiat reiciendis veniam ex, vel similique harum sint eos nihil et dignissimos necessitatibus repellendus perferendis repellat cum incidunt qui soluta animi minus illo! Facere porro alias repellat cumque.
</div>

<div class="text-center">
<button class="btn mt-3" (click)="pulsar()" [ngStyle]="{'background-color': color}">{{textoBoton}}</button>
</div>
