<form (submit)="save()">
    <input type="text" name="username" placeholder="username" [(ngModel)]="usuario.username">
    <input type="text" name="password" placeholder="password"  [(ngModel)]="usuario.password">
    <input type="text" name="email" placeholder="email"  [(ngModel)]="usuario.email">
    <input type="text" name="telefono" placeholder="telefono"  [(ngModel)]="usuario.telefono">
    <input type="text" name="direccion" placeholder="direccion"  [(ngModel)]="usuario.direccion">

    <input type="submit">
</form>