<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido 1</td>
            <td>Apellido 2</td>
            <td>Nota</td>
        </tr>
        <tr th:each="alumno:${alumnado}">
            <td th:text="${alumno.id}"></td>
            <td th:text="${alumno.nombre}"></td>
            <td th:text="${alumno.apellido1}"></td>
            <td th:text="${alumno.apellido2}"></td>
            <td th:text="${alumno.nota}"></td>
        </tr>
    </table>

    <h3>El promedio de notas es <span th:text="${promedio}"></span></h3>
</body>
</html>