<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alumno.css" th:href="@{/css/alumno.css}">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container mt-5 w-25">
    <h1 class="text-center">Listado de alumnos</h1>

    <table class="table">
        <tr>
            <th>Alumno</th>
            <th>Nota</th>
            <th></th>
        </tr>

        <tr th:each="alumno:${alumnos}">
            <td th:text="${alumno.nombre} + ' ' + ${alumno.apellidoUno} + ' ' + ${alumno.apellidoDos}"></td>
            <td th:text="${alumno.nota}"></td>

            <td>
                <a th:href="@{/alumno/delete/}+''+${alumno.id}" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            </td>
            
            <td></td>
        </tr>

    </table>
</div>
    
</body>
</html>