<p>Gardar Banda</p>
<form (submit)="saveBanda()">
<input type="text" name="nombre" [(ngModel)]="banda.nombre">
<input type="submit">
</form>


<p>Gardar disco</p>
<form (submit)="saveDisco()">
<input type="text" name="nombre" [(ngModel)]="disco.nombre">
<input type="number" name="ano" [(ngModel)]="disco.ano">
<select name="seleccion" [(ngModel)]="seleccion">
    <option *ngFor="let banda of bandas" [value]="banda.id" >{{banda.nombre}}</option>
</select>
<input type="submit">
</form>


<p>Eliminar Banda</p>
<form >
<select name="seleccion" [(ngModel)]="seleccion">
    <option *ngFor="let banda of bandas" [value]="banda.id" >{{banda.nombre}}</option>
</select>

<button (click)="eliminarBanda(seleccion)">Eliminar</button>

</form>



<p>Eliminar Disco</p>
<form >
<select name="seleccionDisco" [(ngModel)]="seleccionDisco">
    <option *ngFor="let disco of discos" [value]="disco.id" >{{disco.nombre}}</option>
</select>

<button (click)="eliminarDisco(seleccionDisco)">Eliminar</button>

</form>


<p>Editar Nombre Banda</p>
<form (submit)="editarBanda(seleccion)">
    <input type="text" name="nombre" [(ngModel)]="banda.nombre">
    <select name="seleccion" [(ngModel)]="seleccion">
        <option *ngFor="let banda of bandas" [value]="banda.id">{{banda.nombre}}</option>
    </select>

<input type="submit">
</form>

<p>Editar Nombre Disco</p>
<form (submit)="editarDisco(seleccionDisco)">
    <input type="text" name="nombre" [(ngModel)]="disco.nombre">
    <select name="seleccionDisco" [(ngModel)]="seleccionDisco">
        <option *ngFor="let disco of discos" [value]="disco.id" >{{disco.nombre}}</option>
    </select>    

<input type="submit">
</form>

